* {
    font-family: 'Roboto', sans-serif;
    
}
h1 {
    text-align: center;
}
#flash {
    background: rgb(107, 162, 238);
    min-height: 70vh;
    display: grid;
    grid-template-columns: 10% auto 10%;
}
#pergunta {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    padding: 10px;
    grid-row-start: 1;
    grid-row-end: 2;
}
#resposta {
    text-align: center;
    width: 90%;
    margin: auto;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
}
#anterior {
    display: flex;
    grid-template-columns: auto;
    grid-row-start: 1;
    grid-row-end: 3;
}
#proximo {
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
}
.hide {
    display: none;
}
#containerForm {
    margin-bottom: 15px;
}
#search {
    height: 25px;
    width: 300px;
}
.button {
    text-align: center;
    margin-top: 20px;
}
.button, .r, .g, #find {
    padding: 15px;
}
button, #anterior, #proximo {
    background: #fff;
}
button, svg {
    position: relative;
    justify-content: center;
    align-self: center;
}
button {
    color: white;
    background-color: rgb(8, 14, 186);
    font-weight: bold;
    border-radius: 12px;
    margin: 10px;
}
button:hover {
    transform: scale(1.05);
}
#tabela {
    width: 100%;
    margin-top: 25px;
    align-items: center;
}
table, td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 10px;
}
table thead {
    color: #fff;
    justify-content: center;
    border: 1px solid #333;
    font-size: 1.5rem;
    background-color: rgb(14, 120, 186);
}