* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
h1 {
    text-align: center;
    margin: 20px;
}
#containerForm {
    padding: 5%;
}
#flash {
    background: rgb(107, 162, 238);
    min-height: 70vh;
    width: 90%;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 10vh;
    grid-template-areas: "P P"
                        "R R"
                        "d m";
    gap: 5px;
}
#pergunta {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    grid-area: P;
}
#resposta {
    text-align: center;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    grid-area: R;
   
}
#anterior {
    display:flex;
    justify-content: start;
    grid-area: d;
    border: 1px solid black;
    border-radius: 20px;
}
#anterior:hover {
    transform: scale(1.03);
}
#proximo {
    grid-area: m;
    display: flex;
    justify-content: end;
    border: 1px solid black;
    border-radius: 20px;
}
#proximo:hover {
    transform: scale(1.03);
}
.hide {
    display: none;
}
#containerForm {
    margin-bottom: 15px;
}
#search {
    height: 25px;
    width: 300px;
}
.button {
    text-align: center;
    margin-top: 20px;
}
.button, .r, .g, #find {
    padding: 15px;
}
span {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-family: monospace;
}
button, #anterior, #proximo {
    background: #fff;
}
button, svg {
    position: relative;
    justify-content: center;
    align-self: center;
}
button {
    color: white;
    background-color: rgb(8, 14, 186);
    font-weight: bold;
    border-radius: 12px;
    margin: 10px;
}
button:hover {
    transform: scale(1.05);
}
#tabela {
    width: 100%;
    margin-top: 25px;
    align-items: center;
}
table, td {
    border: 1px solid #333;
    border-collapse: collapse;
    padding: 10px;
}
table thead {
    color: #fff;
    justify-content: center;
    border: 1px solid #333;
    font-size: 1.5rem;
    background-color: rgb(14, 120, 186);
}